/* *{
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* body{
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .data{
    display: block;
} */
g-signin2{
    display: block;

}